// i m p o r t s

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Red+Hat+Mono:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap");

@font-face {
  font-family: mainFont;
  src: url(../assets/breathefirefont.ttf);
}

@font-face {
  font-family: buttonFont;
  src: url(../assets/navfont.ttf);
}

@font-face {
  font-family: pFont;
  src: url(../assets/draconisfont.ttf);
}

// m e d i a q u e r y

@media only screen and (min-width: 1024px) {
}

// b a c k g r o u n d c o l o u r

body {
  background-color: #e6e6da;
  padding: 20px;

  // n a v i g a t i o n
}
li {
  list-style: none;
  display: inline;
  padding: 10px;
  font-family: buttonFont;
}
header {
  display: flex;
  position: relative;
  justify-content: flex-end;
  background-image: url("../assets/nav2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
.nav-bar {
  display: flex;
  position: relative;
  justify-content: flex-end;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% 0%;
  height: 80px;
  margin-top: 45px;
  margin-right: 25px;
}
ul {
  display: flex;
  position: relative;
  margin-top: 80px;
}

a {
  text-decoration: none;
  color: #9d0a0e;
  font-size: 25px;
  display: inline-block;
  text-shadow: 1px 1px 2px black;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

a:hover {
  animation: bounce 1s;
}

.headings {
  display: flex;
  flex-direction: column;
}

// m a i n  s e c t i o n

h1,
h2 {
  font-family: mainFont;
  color: #9d0a0e;
}

h1 {
  margin-left: 30px;
  font-size: 65px;
  margin-bottom: 0px;
}
h2 {
  font-size: 85px;
  margin-top: 0px;
  margin-left: 40px;
  margin-bottom: 0px;
}

h1:hover {
  font-size: 65px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  text-shadow: 20px 20px #000000;
}
h2:hover {
  font-size: 85px;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  text-shadow: 20px 20px #000000;
}

.image {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.dragon {
  width: 600px;
  height: 500px;
  margin-right: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.4s ease-in-out;
}

.dragon:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.welcome-span {
  font-family: pFont;
  font-size: 35px;
}
.welcome-p {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: bolder;
}

p,
.race-section,
.class-section,
.skills-section {
  font-family: "Arima Madurai", cursive;
  // font-size: 23px;
}

.titles {
  color: #631616;
  font-size: 26px;
  text-transform: uppercase;
  font-family: pFont;
}

h4 {
  font-family: pFont;
  font-size: 45px;
  margin-top: 100px;
  text-align: center;
  color: #9d0a0e;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

// i n t e r a c t i v e  s e c t i o n

.user-result {
  text-align: center;
  font-family: mainFont;
  font-weight: bold;
  font-size: 35px;
  margin-top: 35px;
}

h3 {
  font-family: pFont;
  font-size: 45px;
  margin-top: 100px;
  text-align: center;
  color: #9d0a0e;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073,
    0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  font-weight: bolder;
  text-decoration-color: #333333;
}

span {
  text-shadow: 0 0 60px #fff, 0 0 20px #fff, 0 0 30px gold, 0 0 40px #b06389,
    0 0 50px gold, 0 0 60px gold, 0 0 70px #b6abb1;
}

// B U T T O N S

.button-container {
  display: flex;
  justify-content: center;
}

.dice {
  width: 55px;
  height: 55px;
}

.button-1 {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  margin-bottom: 60px;
  outline: 0;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  font-family: buttonFont;
  display: flex;
  height: 110px;
  width: 170px;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.button-1::after {
  content: "";
  background-color: #9d0a0e !important;
  width: 100% !important;
  z-index: -1 !important;
  position: absolute !important;
  height: 100% !important;
  top: 7px !important;
  left: 7px !important;
  transition: 0.2s !important;
}

.button-1:hover::after {
  top: 0px !important;
  left: 0px !important;
}

.button-border {
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  border-width: 5px;
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../assets/nav.png);
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.button-border::hover {
  opacity: 1;
}

.info-container {
  display: flex;
  justify-content: space-evenly;
}

.info {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  margin-bottom: 30px;
  outline: 0;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  font-family: buttonFont;
  display: flex;
}

.info::after {
  content: "";
  background-color: #9d0a0e !important;
  width: 100% !important;
  z-index: -1 !important;
  position: absolute !important;
  height: 100% !important;
  top: 7px !important;
  left: 7px !important;
  transition: 0.2s !important;
  opacity: 0.9;
}

.info:hover::after {
  top: 0px !important;
  left: 0px !important;
  opacity: 1;
}

.favorites-container {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.favorites {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  margin-bottom: 30px;
  outline: 0;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  font-family: pFont;
  text-transform: uppercase;
}

.favorites::after {
  content: "";
  background-color: #ae252a;
  width: 100% !important;
  z-index: -1 !important;
  position: absolute !important;
  height: 100% !important;
  top: 7px !important;
  left: 7px !important;
  transition: 0.2s !important;
}

.favorites:hover::after {
  top: 0px !important;
  left: 0px !important;
}

// f o r m

.form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}

input {
  border: 2px solid rgba(7, 6, 6, 0.5);
  font-size: 1.55em;
  padding: 0.25em 0.5em 0.3125em;
  color: rgba(130, 5, 5, 0.94);
  background: transparent;
  transition: all 0.1s;

  &:focus {
    outline: none;
    color: rgba(21, 9, 9, 0.75);
    border-color: rgba(162, 12, 12, 0.783);
  }

  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

$placeholder-color: rgba(113, 4, 4, 0.5);

::-webkit-input-placeholder {
  color: $placeholder-color;
  text-shadow: 0 0 0.125em transparent;
  transition: all 0.25s;
}
input:focus::-webkit-input-placeholder {
  opacity: 0.7;
}

::-moz-placeholder {
  color: $placeholder-color;
  text-shadow: 0 0 0.125em transparent;
  transition: all 0.25s;
}
input:focus::-moz-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  color: $placeholder-color;
  text-shadow: 0 0 0.125em transparent;
  transition: all 0.25s;
}
input:focus:-ms-input-placeholder {
  opacity: 0.5;
}

form:placeholder-shown {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
.image-div {
  display: flex;
  justify-content: center;
}
img {
  height: 300px;
  width: 100;
  margin-top: 35px;
}

.welcome-p {
  padding: 30px;
  margin: 30px;
  border: 1px solid black;
  margin: 30px;
  background: rgba(204, 204, 204, 0.5);
}
.races,
.classes {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  margin-bottom: 60px;
  outline: 0;
  // border: 2px solid black;
  font-family: pFont;
  color: #9d0a0e;

  text-shadow: 1px 1px 2px black;
}
.classes-div,
.races-div {
  display: inline-block;
  padding: 10px;
}
